body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#Contenedor{
    display: flex;
    margin-top: 50px;
}

#cajaTabla {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th{
    padding: 10px;
    text-align: left;
    color:white;
    background-color: black;
}

td{
    padding: 10px;
    text-align: left;
}

button {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: rgb(28, 63, 219);
    border-radius: 2px;
}

#detalle {
    
    background-color: #eee;
    padding: 10px;
    width: 50%;
    border: 1px solid black;
}

h1{
    text-align: center;
}

#btn-previo,#btn-siguiente{
    background-color: black;
    color: white;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

p{
    display: inline-block;
    margin-left: 60px;
    
}

img{
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin: auto;
}